.Quote {
    text-align:  center;
}

#quote-box {
    display:table;
    /* width: 100vw; */
    height: 100vh;
    margin: auto;
}

.Box {
    border: 5px solid rgb(54, 52, 47);
    margin: auto;
    height: 35%;
    width: 30vw;
    padding: 10px;
}

.center {
    position: relative;
    left: 0%;
    top: 20%;
    z-index: 1;
}

#text {
    margin-top: 10%;
    text-align: center;
}

#container{
    /* background-color: rgb(47, 116, 93); */
    margin: 0 auto;
}

/* .btncenter {
    margin-top: 100%;
} */

a:link {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .Button {
    color: black;
  }
  
  /* Increase the specificity */
   .Button:link {
    color: black;
  }  

  #author {
    text-align: center;
  }

  h7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

@media only screen and (max-width: 1050px) {
.Box {
    width: 60vw;
}
}

@media only screen and (max-width: 750px) {
.Box {
    width: 100vw;
    height: 40vh;
}
}

#tweet-quote {
    width: 70px;
    height: 40px;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#new-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}